<div id='post-form'>
	<%= form_tag comments_path(commentable_id: commentable_id, commentable_type: commentable_type), class: 'comment_form' do %>
		<div class='post-box'>
			<div class='post-image left'>
				<%= user_avatar_helper(current_user) %>
			</div>
			<div class='post-body'>
				<div class='post-textarea-wrapper'>
					<%= text_field_tag :body, '', placeholder: 'Join the discussion... ', class: 'form-body'%>
					<div class='post-actions'>
						<%= submit_tag 'Post', class: 'right post-submit comment-submit' %>
					</div>
				</div>
			</div>
		</div>
	<% end %>
</div>