<section class='home-section'>
	<div class='row'>
		<div class='small-4 columns'>
			<%= render partial: 'member_card', locals: {member: @user} %>
			<hr />
			<h6 style="font-size:13px">About</h6>
			<p><%= @user.biography %></p>
		</div>
		<div class='small-8 columns'>
	  	<% @user.posts.each do |post|%>
	  		<%= render partial: 'posts/card', locals: {post: post} %>
	  	<% end %>
		</div>
	</div>
</section>