<div class='carousel-container'>
	<div class="single-item carousel">
		<div class='slide'>
			<div>
				<h2 class="title">PSD CONCEPT</h2>
				<h3 class="title">CREATIVE PORTFOLIO</h3>
				<p class="description">WEB DESIGN . DEVELOPMENT . MARKETING</p>  
			</div>
		</div>
		<div>
			<div class='slide'>
				<div>
					<h2 class="title">PSD CONCEPT</h2>
					<h3 class="title">CREATIVE PORTFOLIO</h3>
					<p class="description">WEB DESIGN . DEVELOPMENT . MARKETING</p>  
				</div>
			</div>
		</div>
		<div>
			<div class='slide'>
				<div>
					<h2 class="title">PSD CONCEPT</h2>
					<h3 class="title">CREATIVE PORTFOLIO</h3>
					<p class="description">WEB DESIGN . DEVELOPMENT . MARKETING</p>  
				</div> 
			</div>
		</div>
		<div>
			<div class='slide'>
				<div>
					<h2 class="title">PSD CONCEPT</h2>
					<h3 class="title">CREATIVE PORTFOLIO</h3>
					<p class="description">WEB DESIGN . DEVELOPMENT . MARKETING</p>  
				</div> 
			</div>
		</div>
	</div>
	<div class='carousel-dots'>
	</div>		
</div>