<section id='contact-logos'> 
	<div class='small-8 small-centered columns'> 
		<ul class='small-block-grid-2'>
			<li><%= image_tag 'client6.png'%></li>
			<li><%= image_tag 'client7.png'%></li>
		</ul>
	</div>
</section>