<section class='home-section' id='services'>
	<div class='row'>
		<div class='row title'>
			<h2>Services</h2>
			<h3>A bit of lorem text lorems</h3>
		</div>
		<div class='row'>
			<div class='small-4 columns service-description'>
				<%= image_tag 'service1.png' %>
				<h4>PIXEL PERFECT</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
			</div>
			<div class='small-4 columns service-description'>
				<%= image_tag 'service2.png' %>
				<h4>PIXEL PERFECT</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
			</div>
			<div class='small-4 columns service-description'>
				<%= image_tag 'service3.png' %>
				<h4>PIXEL PERFECT</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
			</div>
		</div>
	</div>
</section>