<div class="contain-to-grid sticky">
  <nav class="top-bar" data-topbar role="navigation">
  	<section class="top-bar-section">
  		<ul class="title-area">
  		  <li class="name">
  		    <h1><a href="#">SQUIB</a></h1>
  		  </li>
  		</ul>
  	  <ul class="right">
  	    <li ><a href="#">Home</a></li>
  	    <li ><a href="#services">Services</a></li>
  	    <li ><a href="#team">Team</a></li>
  	    <li ><a href="#contact">Contact</a></li>
  	    <li ><%= link_to 'Blog', posts_path%></li>
  	  </ul>
  </nav>
</div>